<tr class="today colortext table_act">
    <td class="wday">
        <p><span class="date ">28.04</span></p></td>
    <td class="wclouds">
        <p class="clouds_block"><img src="styles/images/sun.png" class="weather">
            <span class="clouds clouds0 " style="display:none;">Ясно</span>
            <span class="clouds clouds1 " style="display:none;">Хмарно з проясненнями</span>
            <span class="clouds clouds2 " style="display:none;">Хмарно</span>
            <span class="clouds clouds3 " style="display:none;">Пасмурно</span>
            <span class="clouds clouds4 " style="display:none;">Легкий дощ</span>
            <span class="clouds clouds5 " style="display:none;">Дощ</span>
            <span class="clouds clouds6 " style="display:none;">Гроза</span>
            <span class="clouds clouds7 " style="display:none;">Град</span>
            <span class="clouds clouds8 " style="display:none;">Дощ зі снігом</span>
            <span class="clouds clouds9 " style="display:none;">Сніг</span>
            <span class="clouds clouds10 " style="display:none;">Хуртелиця</span>
        </p>
    </td>
    <td class="wpreasure">
        <p class="preasure ">746&nbsp;мм.<br> рт. ст.</p>
    </td>
    <td class="wwind">
        <p class="wind_direction"><img src="styles/images/wind.png" class="weather">
            <span class="wind_direction0 " style="display:none;">Пн</span>
            <span class="wind_direction1 " style="display:none;">ПнЗ</span>
            <span class="wind_direction2 " style="display:none;">З</span>
            <span class="wind_direction3 " style="display:none;">ПдЗ</span>
            <span class="wind_direction4 " style="display:none;">Пд</span>
            <span class="wind_direction5 " style="display:none;">ПдС</span>
            <span class="wind_direction6 " style="display:none;">С</span>
            <span class="wind_direction7 " style="display:none;">ПнС</span>
            <span class="wind_direction8 " style="display:none;">Ш</span>
        </p>
    </td>

    <td class="wmoon"><img src="styles/images/moon.png" class="weather">

        <div class="moon_phase ">2д</div>
    </td>
    <td class="wresult">
        <div><span class="result ">75/100</span></div>
    </td>

</tr>